/* Nav Bar */
nav a {
    /* Removes the default underline and purple of a visited link */
    text-decoration: none;
    margin: 0px 10px;
    padding: auto;
}
nav {
    text-align: center;
    height:30px;
    padding: 5px;
    font-family: "Cabin Sketch", cursive;
}
a.nav:link, a.nav:visited {
    color: black;
}

a.nav:hover {
    color: teal;
}
a.nav.active {
    font-weight: bold;
}

/* Landing Page Header Content */
.landing-header-content {
    text-align: center;
    font-family: "Cabin Sketch", cursive;
    color: black;
}
    .squiggly {
        animation-name: squiggly-anim;
        animation-duration:10s;
        animation-iteration-count: infinite;
    }

#landing-header{
    padding: 30px 10px;
    background-color: #659DBD;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}

#landing-main {
    border-top: 3px solid black;
    background-color:#DAAD86;
    font-family: "Cabin Sketch", cursive;
    border-radius: 0px 0px 10px 10px;
}

#title-img {
    display: block;
    margin: auto;
    border: 3px #BC986A solid;
    border-radius: 10px;
}
#title-img:hover {
    border: 3px #FBEEC1 solid;
}
#title-header {
    font-size:70px;
}
#title-subheader {
    font-size: 70px;
}

/* Grid Container */
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
}
.first-col {
    grid-column: 1;
}
.second-col {
    grid-column: 2;
}
.third-col {
    grid-column: 3;
}

/* Social Media Links */
.social-media-link {
    width: 35px;
}
.theme-box {
    border: 2px black solid;
    width: 100px;
    text-align: center;
    background: #8D8741;
    border-radius: 10px;
}

section div[class="grid-container"] {
    padding: 10px;
}
.landing-text {
    text-align: center;
}
.language-icon {
    width: 30px;
}

@keyframes squiggly-anim {
    0%{color:#DAAD86}
    50%{color:#FBEEC1}
    100%{color:#DAAD86}
}
/* Color Scheme */
/* 8D8741
659DBD
DAAD86
BC986A
FBEEC1 */