/* Nav Bar */
nav a {
    /* Removes the default underline and purple of a visited link */
    text-decoration: none;
}
a.nav:link, a.nav:visited {
    color: black;
}

a.nav:hover {
    color: teal;
}
a.nav.active {
    font-weight: bold;
}

/* Landing Page Header Content */
.landing-header-content {
    text-align: center;
}

#title-img {
    display: block;
    margin: auto;
    border-radius: 10px;
}

/* Social Media Links */
.social-media-link {
    width: 35px;
}